/* Reinicio general */
body{
Margin: 0;
Padding: 0;
}

/* BODY FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* GENÉRICOS */
.centrar{
    text-align: center;
}

.padding{
    padding: 0;
    border: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

button{
    transition: none;
}


/* HEADER */
.imgLogo{
    width: 180px;
    height: 180px;
}

.boxMenu{ 
   
    background-color: white;
    border: 1px;
    border-color:#e9ecef !important;
    box-shadow: none;
    box-decoration-break: none;
    box-sizing: none;
}


.boxMenuProductos{
    background-color: #EBDBBD;
    border: none;   
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active, .dropdown-item:visited{
    background-color: rgb(255, 245, 245);
}

.d-flex{
    padding-right: 12px;
} /* padding de boxLupa */

.boxBuscador{
    border: none;
    margin: 0.5rem 0px 0.5rem 0.5rem !important;    
}

.boxLupa{
    width: 70%;
    height: 70%;
    border: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    padding: 0px;
}

.container-fluid{
    padding-right: 0px;
}

.bg-light {
    background-color: #EBDBBD !important;
}  /* color barra header  */


/* BODY */
.colorFondo{
    background-color: white;
}


/* CAROUSEL */
.tamañoImg{
    width: 65%;
    margin: 1% auto;
}


/* SUB-MENU */
.card{
    border: none;
}

.btn-outline-secondary{
    background-color: #B9AB8E; 
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
    border: 0px solid;
    border-radius: 30px;
    padding-left: 10px; 
}

.btn-outline-secondary:hover{
    background-color: #EBDBBD;
}

.subMenu{
    margin-bottom: 2%;
}

.subMenu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.subMenu ul li {
    margin: 10px 10px 0 10px;
}

.subMenu a {
    color: white;
    
}


/* SECCIONES DEL SUB-MENU */
.card-img-top{
    width: 100%;
    height: 3% auto;
}

.card-body{
    width: 80%;
    height: 3% auto;
    margin-left: 10%;
}

.card1 {
    margin: 0 0% 5% 0%;
}



/* FOOTER */
ul{
    padding-left: 0rem;
    
}

.footer {
    background-color: #EBDBBD;
    padding-top: 14px;
}

.footerRow {
    margin-top: 10px;
    padding-left: 8.5rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #EBDBBD;
}

.footerRow2 {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #EBDBBD;
}

.footerMenu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerMenu ul li {
    margin: 10px 10px 0 10px;
}

.footerMenu a {
    color: black;
}

.footerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.footerForm input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 0px solid;
    border-radius: 10px;
    padding-left: 10px;
}

.footerForm input[type="submit"] {
    background-color: #B9AB8E;
    border: 1px;
    color: white;
    width: 50%;
    padding: 0;
}

.footerSocial {
    width: 25%;
    display: flex;
    justify-content: center;
}

.footerSocial a:not(:first-child){
    margin-left: 20px;
}

.footerSocial img {
    height: 35px;
}

.footerDerechos{
    font-size: 0.8rem;
    margin-bottom: 4px;
}



/* MEDIA QUERIES*/
/* TABLET */
@media screen and (max-width: 768px) {
    /* CAROUSEL */
    .tamañoImg{
        width: 95%;
        margin: 2% auto;
        }

    /* FOOTER */
    .footerRow {
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    .footerForm {
        margin-bottom: 10px;
        width: 80%;
    }

}

/* MOBILE */
@media screen and (max-width: 576px) {
    /* HEADER */
    .imgLogo{
        width: 120px;
        height: 120px;
    }

    .d-flex{
        padding-right: 0px;
    } /* padding de boxLupa */

    /* CAROUSEL */
    .tamañoImg{
    width: 95%;
    margin: 3% auto;
    }

    /* SUB-MENU */
    /* .subMenu ul li {
        margin: 10px 10px 0 10px;
    } */
    
    .subMenu ul{
        flex-direction: flex;
        justify-content: center;
        align-items: center;
    }

    .subMenu ul li{
        width: 80px;
        height: 35px;
        color: white;
        margin: 10px 5px 0 5px;
        border-radius: 40px;
    }
    
    .btn-outline-secondary{
        margin-bottom: 3px;
    }

    /* SECCIONES DEL SUB-MENU */
    .card1 {
        margin: 0 0 0 5%;
    }


    /* FOOTER */
    .footerDerechos{
        font-size: 0.8rem;
        margin-bottom: 1px;
    }

    .footerSocial img {
        height: 30px;
        margin-bottom: 10px;
    }
    
}