/* Reinicio general */
body{
Margin: 0;
Padding: 0;
}

/* BODY FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


/* GENÉRICOS */
.centrar{
    text-align: center;
}

.padding{
    padding: 0;
    border: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
}


/* HEADER */
.imgLogo{
    width: 200px;
    height: 200px;
}

.boxMenu{ 
    border-color: #e9ecef;
    background-color: white;
    box-shadow: none;
    box-decoration-break: none;
    box-sizing: none;
}

.boxMenuProductos{
    background-color: #EBDBBD;
    border: none;   
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active, .dropdown-item:visited{
    background-color: #EBDBBD;
  }

.boxBuscador{
    border-color: #e9ecef;
    margin: 0.5rem 0px 0.5rem 0.5rem !important;    
}

.boxLupa{
    width: 70%;
    height: 70%;
    border-color: #e9ecef ;
    padding: 0px;
    margin: 0px;
}

.navbar{
    padding: 0px;
}

.container-fluid{
    padding-right: 0px;
}

.bg-light {
    background-color: #EBDBBD !important;
}  /* color barra header  */


/* BODY */
.colorFondo{
    background-color: white;
}

/* CAROUSEL */
.tamañoImg{
    width: 70%;
    margin: 1% auto;
}
 

/* FOOTER */
ul{
    padding-left: 0rem;
}

.footer {
    background-color: #EBDBBD;
    padding-top: 14px;
}

.footerRow {
    margin-top: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #EBDBBD;
}

.footerRow2 {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #EBDBBD;
}

.footerSocial {
    width: 50%;
    display: flex;
    justify-content:flex-start;
}
.footerMenu ul {
    display: flex;
    list-style: none;
}

.footerMenu ul li {
    margin: 10px 10px 0 10px;
}

.footerMenu a {
    color: black;
}

.footerMenu, .footerSocial {
    width: 25%;
    display: flex;
    justify-content: center;
}

.footerSocial a:not(:first-child){
    margin-left: 20px;
}

.footerSocial img {
    height: 40px;
}

.footerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.footerForm input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 0px solid;
    border-radius: 10px;
    padding-left: 10px;
}

.footerForm input[type="submit"] {
    background-color: white;
    border: 1px;
    color: black;
    width: 50%;
    padding: 0;
}

.footerDerechos{
    font-size: 0.8rem;
}




/* MEDIA QUERIES*/
/* TABLET */
@media screen and (max-width: 768px) {
    /* FOOTER */
    .footerRow {
        flex-direction: column;
        align-items: center;
    }

    .footerForm {
        margin-bottom: 10px;
        width: 80%;
    }

}

/* MOBILE */
@media screen and (max-width: 576px) {
    /* HEADER */
    .imgLogo{
        width: 120px;
        height: 120px;
    }

    /* CAROUSEL */
    .tamañoImg{
    width: 90%;
    margin: 3% auto;
    }

    /* FOOTER */
    .footerDerechos{
        font-size: 0.8rem;
    }

    .footerSocial img {
        height: 40px;
        margin-bottom: 10px;
    }
    
}

